!!! 5
%html{'ng-app'=>"app"}
  %head
    %title Fred App
    %link{rel:"stylesheet", type:"text/css", href:"css/app.css", media:"all"}

%body
  %h1 Hello Fucking Deal!
  %div#view
    %ng-view
  %script{type:"text/javascript", src:"js/app.js"}
