!!! 5
%html{ng-app:"app"}
  %head
    %title Fred App
    %link{rel:"stylesheet", type:"text/css", href:"css/app.css", media:"all"}
    %base{href:'/'}

  %body
    %h1 Hello Fuckoroo! up Deal!
    %a{href:"#home"}
      Home
    %div#view
      %ng-view
    %script{type:"text/javascript", src:"js/app.js"}
